/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
  transition: color 180ms linear 10ms;
}
p {
  margin-bottom: 18px;
}
input,
textarea {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  resize: none;
}
body {
  padding-top: 1px;
  margin-top: 1px;
}
.title {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: bold;
}
.cell {
  margin: 40px 20px;
  padding: 20px;
  box-sizing: border-box;

  border: 1px solid #ccc;
}
.cell pre {
  margin-bottom: 20px;
  padding: 20px 0 10px;
  background-color: #ddd;
}


/* Example 1 */
.example-1 {
  height: 200px;
  overflow-y: scroll;
  border: 2px solid #999;
}
.example-1-child {
  width: 50px;
  margin: 500px 0;
  height: 100px;
  background-color: #f00;
  transition: width 500ms linear;
}
.example-1-child.active {
  width: 100%;
}

/* Example 2 */
.example-2 {
  height: 200px;
  overflow-x: scroll;
  border: 2px solid #999;
}
.example-2-child {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 100vw;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  background-color: #f00;
  transition: all 200ms linear;
}
.example-2-child.active {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Example 3 */
.example-3 {
  width: 200px;
  height: 200px;
  margin: 700px auto;
  background-color: #f00;
  border: 10px solid #09f;
  transition: all 250ms linear 10ms;
}
.example-3.active {
  width: 100px;
  height: 100px;
  background-color: #09f;
  transform: rotate(90deg);
}